
.body {
    min-height: 100vh;
    position: relative;
    background-color:azure;
}

/* ~~~~~~~~ Navbar Section ~~~~~~~ */

.nav-title {
    display: flex;
    align-content: center;
    justify-content: start;
    color: white;
    width: 50%;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    order: -1;
    cursor: pointer;
    text-decoration: none;
}
/* .nav-mid {

} */
.navs {
    /* border: solid green; */
    /* width: 50%;
    height: 100%; */
    font-size: 25px;
    font-weight: bold;
    color: white;
    /* border: solid green; */
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background-color: #cf46cc;
}
.nav-bar{
    /* border: solid; */
    width: 50%;
    height: auto;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navy {
    /* border: solid red; */
    width: 100%;
    height: auto;
    background-color:#cf46cc;
    flex-direction: row;
}
.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    columns: 2;
}
.nav-link{
    margin-right: 20px;
}
.toggle{
    display: flex;
    align-content: end;
    justify-content: end;
    background-color: white;
    border: black solid;
}
@media (max-width: 550px) {
    .nav-title{
        font-size: 35px;
    }
  }
  @media (max-width: 991px) {
    .navs{
        border: solid;
    }
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~ Home Section ~~~~~~~ */
.home-heroImage{
    width: 100%;
    height: 70vh;
    background-color: darkorchid;
    display: flex;
    flex-direction: row; 
}
.hero-div1{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-div1-box{
    width: 70%;
    height: 70%;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-div2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-div2-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.hero-image{
    height: auto;
    width: auto;
}
@media (max-width: 950px) {
    .home-heroImage {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        margin-top: 20px;
        width: 70%;
        height: auto;
        border: solid;
    }
    .hero-div1{
        width: 90%;
        height: 50%;
    }
    .hero-div1-box{
        width: 70%;
        height: 70%;
        background-color: cyan;
    }
    .hero-div2{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-div2-box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
  }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~ Home-Body Section ~~~~~~~ */
.space {
    width: 100%;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-box {
    width: 50%;
    height: 90%;
    background: azure;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~ Footer Section ~~~~~~~ */
.footer{
    width: 100%;
    height: 80px;
    background-color:honeydew;
    position: absolute;
    bottom: 0;
    border: solid;
    margin-top: 20px;
}
@media (max-width: 950px) {
    .footer{
        position: relative;
        bottom: 0;
        border: solid;
        margin-top: 20px;
    }
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */